// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace DrawdownsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DrawdownsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DrawdownsClient.Options>;

    constructor(options: DrawdownsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a list of drawdowns.
     *
     * @param {Voltaria.ListDrawdownsRequest} request
     * @param {DrawdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.drawdowns.listDrawdowns()
     */
    public listDrawdowns(
        request: Voltaria.ListDrawdownsRequest = {},
        requestOptions?: DrawdownsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseDrawdownResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listDrawdowns(request, requestOptions));
    }

    private async __listDrawdowns(
        request: Voltaria.ListDrawdownsRequest = {},
        requestOptions?: DrawdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseDrawdownResponse>> {
        const { page, page_size: pageSize, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/drawdowns",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseDrawdownResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/drawdowns");
    }

    /**
     * Create a new drawdown request.
     *
     * @param {Voltaria.DrawdownCreatePayload} request
     * @param {DrawdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     * @throws {@link Voltaria.InternalServerError}
     *
     * @example
     *     await client.drawdowns.createDrawdownRequest({
     *         amount: 1.1
     *     })
     */
    public createDrawdownRequest(
        request: Voltaria.DrawdownCreatePayload,
        requestOptions?: DrawdownsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.DrawdownResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDrawdownRequest(request, requestOptions));
    }

    private async __createDrawdownRequest(
        request: Voltaria.DrawdownCreatePayload,
        requestOptions?: DrawdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.DrawdownResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/drawdowns",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.DrawdownResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Voltaria.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/drawdowns");
    }

    /**
     * Retrieve all checklist items for a specific drawdown
     *
     * @param {Voltaria.ListDrawdownChecklistsRequest} request
     * @param {DrawdownsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.drawdowns.listDrawdownChecklists({
     *         drawdown_id: "drawdown_id"
     *     })
     */
    public listDrawdownChecklists(
        request: Voltaria.ListDrawdownChecklistsRequest,
        requestOptions?: DrawdownsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseDrawdownChecklistResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listDrawdownChecklists(request, requestOptions));
    }

    private async __listDrawdownChecklists(
        request: Voltaria.ListDrawdownChecklistsRequest,
        requestOptions?: DrawdownsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseDrawdownChecklistResponse>> {
        const { drawdown_id: drawdownId, page, page_size: pageSize, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/drawdowns/${core.url.encodePathParam(drawdownId)}/checklists`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseDrawdownChecklistResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/drawdowns/{drawdown_id}/checklists",
        );
    }
}
