// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace WebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WebhooksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhooksClient.Options>;

    constructor(options: WebhooksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all webhook subscriptions for your partner account.
     *
     * @param {Voltaria.ListWebhookSubscriptionsRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.listWebhookSubscriptions()
     */
    public listWebhookSubscriptions(
        request: Voltaria.ListWebhookSubscriptionsRequest = {},
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseWebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listWebhookSubscriptions(request, requestOptions));
    }

    private async __listWebhookSubscriptions(
        request: Voltaria.ListWebhookSubscriptionsRequest = {},
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseWebhookSubscriptionResponse>> {
        const { page, page_size: pageSize, event_type: eventType } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            event_type: eventType !== undefined ? eventType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/webhooks/subscriptions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseWebhookSubscriptionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/webhooks/subscriptions");
    }

    /**
     * Create a new webhook subscription for a specific event type.
     *
     * @param {Voltaria.WebhookCreatePayload} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.createWebhookSubscription({
     *         url: "https://example.com/webhooks",
     *         description: "Loan update event",
     *         event_type: "loan.updated",
     *         secret: "whsec_f3o9p8h7g6j5k4l3m2n1o0p9i8u7y6t5",
     *         retry: false,
     *         status: "active"
     *     })
     */
    public createWebhookSubscription(
        request: Voltaria.WebhookCreatePayload,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.WebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createWebhookSubscription(request, requestOptions));
    }

    private async __createWebhookSubscription(
        request: Voltaria.WebhookCreatePayload,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.WebhookSubscriptionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/webhooks/subscriptions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.WebhookSubscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/webhooks/subscriptions");
    }

    /**
     * Retrieve details for a specific webhook subscription with its webhook ID.
     *
     * @param {Voltaria.GetWebhookSubscriptionRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.getWebhookSubscription({
     *         webhook_id: "webhook_id"
     *     })
     */
    public getWebhookSubscription(
        request: Voltaria.GetWebhookSubscriptionRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.WebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getWebhookSubscription(request, requestOptions));
    }

    private async __getWebhookSubscription(
        request: Voltaria.GetWebhookSubscriptionRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.WebhookSubscriptionResponse>> {
        const { webhook_id: webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.WebhookSubscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/webhooks/subscriptions/{webhook_id}",
        );
    }

    /**
     * Update a webhook subscription with its specific webhook ID.
     *
     * @param {Voltaria.WebhookUpdatePayload} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.updateWebhookSubscription({
     *         webhook_id: "webhook_id",
     *         url: "https://example.com/webhooks/v2",
     *         description: "Updated webhook endpoint",
     *         event_type: "installment.updated",
     *         status: "paused",
     *         retry: true,
     *         secret: "whsec_updated_secret_here"
     *     })
     */
    public updateWebhookSubscription(
        request: Voltaria.WebhookUpdatePayload,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.WebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateWebhookSubscription(request, requestOptions));
    }

    private async __updateWebhookSubscription(
        request: Voltaria.WebhookUpdatePayload,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.WebhookSubscriptionResponse>> {
        const { webhook_id: webhookId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.WebhookSubscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v2/webhooks/subscriptions/{webhook_id}",
        );
    }

    /**
     * Delete a specific webhook subscription.
     *
     * @param {Voltaria.DeleteWebhookSubscriptionRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.deleteWebhookSubscription({
     *         webhook_id: "webhook_id"
     *     })
     */
    public deleteWebhookSubscription(
        request: Voltaria.DeleteWebhookSubscriptionRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__deleteWebhookSubscription(request, requestOptions));
    }

    private async __deleteWebhookSubscription(
        request: Voltaria.DeleteWebhookSubscriptionRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { webhook_id: webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/webhooks/subscriptions/{webhook_id}",
        );
    }

    /**
     * Retrieve all webhook logs linked to your partner account.
     *
     * @param {Voltaria.ListWebhookLogsRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.listWebhookLogs()
     */
    public listWebhookLogs(
        request: Voltaria.ListWebhookLogsRequest = {},
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseWebhookLogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listWebhookLogs(request, requestOptions));
    }

    private async __listWebhookLogs(
        request: Voltaria.ListWebhookLogsRequest = {},
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseWebhookLogResponse>> {
        const { webhook_id: webhookId, page, page_size: pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            webhook_id: webhookId,
            page,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/webhooks/logs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseWebhookLogResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/webhooks/logs");
    }
}
