// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace SandboxClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * These endpoints will only work in Sandbox
 */
export class SandboxClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SandboxClient.Options>;

    constructor(options: SandboxClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Update an existing client's status or credit limit using their client ID.
     *
     * @param {Voltaria.ClientUpdateSandbox} request
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.sandbox.updateClient({
     *         client_id: "client_id"
     *     })
     */
    public updateClient(
        request: Voltaria.ClientUpdateSandbox,
        requestOptions?: SandboxClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.ClientResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateClient(request, requestOptions));
    }

    private async __updateClient(
        request: Voltaria.ClientUpdateSandbox,
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.ClientResponse>> {
        const { client_id: clientId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/sandbox/clients/${core.url.encodePathParam(clientId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.ClientResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v2/sandbox/clients/{client_id}",
        );
    }

    /**
     * Update the status of a specific loan using its unique loan ID.
     *
     * @param {Voltaria.LoanUpdateSandbox} request
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.sandbox.updateLoan({
     *         loan_id: "loan_id"
     *     })
     */
    public updateLoan(
        request: Voltaria.LoanUpdateSandbox,
        requestOptions?: SandboxClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.LoanResponseWithInstallments> {
        return core.HttpResponsePromise.fromPromise(this.__updateLoan(request, requestOptions));
    }

    private async __updateLoan(
        request: Voltaria.LoanUpdateSandbox,
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.LoanResponseWithInstallments>> {
        const { loan_id: loanId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/sandbox/loans/${core.url.encodePathParam(loanId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.LoanResponseWithInstallments,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/sandbox/loans/{loan_id}");
    }

    /**
     * Test a webhook subscription by ID or trigger all by event type.
     *
     * @param {Voltaria.WebhookTestSandbox} request
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.sandbox.webhookTest({
     *         event_type: "loan.updated"
     *     })
     */
    public webhookTest(
        request: Voltaria.WebhookTestSandbox,
        requestOptions?: SandboxClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__webhookTest(request, requestOptions));
    }

    private async __webhookTest(
        request: Voltaria.WebhookTestSandbox,
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/sandbox/webhooks/trigger",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/sandbox/webhooks/trigger");
    }
}
