// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace PartnersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PartnersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PartnersClient.Options>;

    constructor(options: PartnersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this endpoint to check the available funding capacity in your dedicated lending account before initiating a new loan or submitting a drawdown request.
     *
     * @param {PartnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partners.getAvailableFunding()
     */
    public getAvailableFunding(
        requestOptions?: PartnersClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.AvailableFunding[]> {
        return core.HttpResponsePromise.fromPromise(this.__getAvailableFunding(requestOptions));
    }

    private async __getAvailableFunding(
        requestOptions?: PartnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.AvailableFunding[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/partners/available-funding",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.AvailableFunding[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VoltariaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/partners/available-funding",
        );
    }

    /**
     * Upload supplementary partner information, such as bank account balance, accounting figures, or other relevant details.
     *
     * @param {Voltaria.PartnerDataCreatePayload} request
     * @param {PartnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.partners.createPartnerData({
     *         data: {
     *             "key1": "value1",
     *             "key2": "value2"
     *         }
     *     })
     */
    public createPartnerData(
        request: Voltaria.PartnerDataCreatePayload,
        requestOptions?: PartnersClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PartnerDataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPartnerData(request, requestOptions));
    }

    private async __createPartnerData(
        request: Voltaria.PartnerDataCreatePayload,
        requestOptions?: PartnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PartnerDataResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/partners/data",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.PartnerDataResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/partners/data");
    }

    /**
     * Use this endpoint to get the list of waterfalls for your dedicated lending account.
     *
     * @param {Voltaria.ListPartnerWaterfallsRequest} request
     * @param {PartnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.partners.listPartnerWaterfalls()
     */
    public listPartnerWaterfalls(
        request: Voltaria.ListPartnerWaterfallsRequest = {},
        requestOptions?: PartnersClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseWaterfallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPartnerWaterfalls(request, requestOptions));
    }

    private async __listPartnerWaterfalls(
        request: Voltaria.ListPartnerWaterfallsRequest = {},
        requestOptions?: PartnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseWaterfallResponse>> {
        const { page, page_size: pageSize, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/partners/waterfalls",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseWaterfallResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/partners/waterfalls");
    }
}
