// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace InstallmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InstallmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InstallmentsClient.Options>;

    constructor(options: InstallmentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a list of all loan installments under your partner account. Supports optional filtering by loan or client.
     *
     * @param {Voltaria.ListInstallmentsRequest} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.listInstallments()
     */
    public listInstallments(
        request: Voltaria.ListInstallmentsRequest = {},
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseInstallmentResponseWithClientInfo> {
        return core.HttpResponsePromise.fromPromise(this.__listInstallments(request, requestOptions));
    }

    private async __listInstallments(
        request: Voltaria.ListInstallmentsRequest = {},
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseInstallmentResponseWithClientInfo>> {
        const { page, page_size: pageSize, client_id: clientId, loan_id: loanId, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            client_id: clientId,
            loan_id: loanId,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/installments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseInstallmentResponseWithClientInfo,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/installments");
    }

    /**
     * Add new installments to a loan with its specific loan ID. This endpoint is available to select partners and will trigger the recalculation of the IRR and interest amounts for all installments of the loan.
     *
     * @param {Voltaria.InstallmentCreatePayload} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.ForbiddenError}
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.addInstallment({
     *         loan_id: "loan_12345",
     *         installments: [{
     *                 expected_repayment_at: "2025-12-01",
     *                 amount: "1000.00"
     *             }, {
     *                 expected_repayment_at: "2026-01-01",
     *                 amount: "1000.00"
     *             }]
     *     })
     */
    public addInstallment(
        request: Voltaria.InstallmentCreatePayload,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.InstallmentResponse[]> {
        return core.HttpResponsePromise.fromPromise(this.__addInstallment(request, requestOptions));
    }

    private async __addInstallment(
        request: Voltaria.InstallmentCreatePayload,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.InstallmentResponse[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/installments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.InstallmentResponse[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Voltaria.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/installments");
    }

    /**
     * Retrieve a list of payment promises recorded for installments under your partner account. Supports optional filtering by loan or client.
     *
     * @param {Voltaria.ListPaymentPromisesRequest} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.listPaymentPromises()
     */
    public listPaymentPromises(
        request: Voltaria.ListPaymentPromisesRequest = {},
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponsePaymentPromiseResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPaymentPromises(request, requestOptions));
    }

    private async __listPaymentPromises(
        request: Voltaria.ListPaymentPromisesRequest = {},
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponsePaymentPromiseResponse>> {
        const { page, page_size: pageSize, order_by: orderBy, q, loan_id: loanId, client_id: clientId } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
            loan_id: loanId,
            client_id: clientId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/installments/payment-promises",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponsePaymentPromiseResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/installments/payment-promises",
        );
    }

    /**
     * Record a payment promise made by a client for one of their installments. The promised date must be today or in the future.
     *
     * @param {Voltaria.PaymentPromiseCreatePayload} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.createPaymentPromise({
     *         installment_id: "inst_12345",
     *         amount: 1.1,
     *         promised_date: "2026-05-15"
     *     })
     */
    public createPaymentPromise(
        request: Voltaria.PaymentPromiseCreatePayload,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaymentPromiseResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentPromise(request, requestOptions));
    }

    private async __createPaymentPromise(
        request: Voltaria.PaymentPromiseCreatePayload,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaymentPromiseResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/installments/payment-promises",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.PaymentPromiseResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/installments/payment-promises",
        );
    }

    /**
     * Retrieve detailed information for a specific installment using its installment ID.
     *
     * @param {Voltaria.GetInstallmentByIdRequest} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.getInstallmentById({
     *         installment_id: "installment_id"
     *     })
     */
    public getInstallmentById(
        request: Voltaria.GetInstallmentByIdRequest,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.InstallmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInstallmentById(request, requestOptions));
    }

    private async __getInstallmentById(
        request: Voltaria.GetInstallmentByIdRequest,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.InstallmentResponse>> {
        const { installment_id: installmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/installments/${core.url.encodePathParam(installmentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.InstallmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/installments/{installment_id}",
        );
    }

    /**
     * Update an installment's amount and expected repayment date with its specific installment ID. This endpoint is available to select partners and will trigger the recalculation of the IRR and interest amounts for all installments of the loan.
     *
     * @param {Voltaria.InstallmentEditPayload} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.ForbiddenError}
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.editInstallment({
     *         installment_id: "installment_id",
     *         amount: 1.1,
     *         expected_repayment_at: "2025-12-01"
     *     })
     */
    public editInstallment(
        request: Voltaria.InstallmentEditPayload,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.InstallmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editInstallment(request, requestOptions));
    }

    private async __editInstallment(
        request: Voltaria.InstallmentEditPayload,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.InstallmentResponse>> {
        const { installment_id: installmentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/installments/${core.url.encodePathParam(installmentId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.InstallmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Voltaria.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v2/installments/{installment_id}",
        );
    }

    /**
     * Delete an installment with its specific installment ID. This endpoint is available to select partners and will trigger the recalculation of the IRR and interest amounts for all installments of the loan.
     *
     * @param {Voltaria.DeleteInstallmentRequest} request
     * @param {InstallmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.ForbiddenError}
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.installments.deleteInstallment({
     *         installment_id: "installment_id"
     *     })
     */
    public deleteInstallment(
        request: Voltaria.DeleteInstallmentRequest,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInstallment(request, requestOptions));
    }

    private async __deleteInstallment(
        request: Voltaria.DeleteInstallmentRequest,
        requestOptions?: InstallmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { installment_id: installmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/installments/${core.url.encodePathParam(installmentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Voltaria.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/installments/{installment_id}",
        );
    }
}
