// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace InvestorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InvestorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvestorsClient.Options>;

    constructor(options: InvestorsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all clients with at least one loan funded by this investor.
     *
     * @param {Voltaria.InvestorListClientsRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorListClients()
     */
    public investorListClients(
        request: Voltaria.InvestorListClientsRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseClientInvestorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__investorListClients(request, requestOptions));
    }

    private async __investorListClients(
        request: Voltaria.InvestorListClientsRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseClientInvestorResponse>> {
        const { page, page_size: pageSize, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/investors/clients",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseClientInvestorResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/investors/clients");
    }

    /**
     * Retrieve a specific client that has a loan funded by this investor.
     *
     * @param {Voltaria.InvestorGetClientRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorGetClient({
     *         client_id: "client_id"
     *     })
     */
    public investorGetClient(
        request: Voltaria.InvestorGetClientRequest,
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.ClientInvestorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__investorGetClient(request, requestOptions));
    }

    private async __investorGetClient(
        request: Voltaria.InvestorGetClientRequest,
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.ClientInvestorResponse>> {
        const { client_id: clientId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/investors/clients/${core.url.encodePathParam(clientId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.ClientInvestorResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/investors/clients/{client_id}",
        );
    }

    /**
     * Retrieve all loans funded by the current investor.
     *
     * @param {Voltaria.InvestorListLoansRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorListLoans()
     */
    public investorListLoans(
        request: Voltaria.InvestorListLoansRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseLoanInvestorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__investorListLoans(request, requestOptions));
    }

    private async __investorListLoans(
        request: Voltaria.InvestorListLoansRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseLoanInvestorResponse>> {
        const { page, page_size: pageSize, client_id: clientId, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            client_id: clientId,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/investors/loans",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseLoanInvestorResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/investors/loans");
    }

    /**
     * Retrieve a specific loan funded by the current investor, with its installments.
     *
     * @param {Voltaria.InvestorGetLoanRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorGetLoan({
     *         loan_id: "loan_id"
     *     })
     */
    public investorGetLoan(
        request: Voltaria.InvestorGetLoanRequest,
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.LoanResponseWithInstallments> {
        return core.HttpResponsePromise.fromPromise(this.__investorGetLoan(request, requestOptions));
    }

    private async __investorGetLoan(
        request: Voltaria.InvestorGetLoanRequest,
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.LoanResponseWithInstallments>> {
        const { loan_id: loanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/investors/loans/${core.url.encodePathParam(loanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.LoanResponseWithInstallments,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/investors/loans/{loan_id}");
    }

    /**
     * Retrieve all installments for loans funded by the current investor.
     *
     * @param {Voltaria.InvestorListInstallmentsRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorListInstallments()
     */
    public investorListInstallments(
        request: Voltaria.InvestorListInstallmentsRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseInstallmentResponseWithClientInfo> {
        return core.HttpResponsePromise.fromPromise(this.__investorListInstallments(request, requestOptions));
    }

    private async __investorListInstallments(
        request: Voltaria.InvestorListInstallmentsRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseInstallmentResponseWithClientInfo>> {
        const { page, page_size: pageSize, client_id: clientId, loan_id: loanId, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            client_id: clientId,
            loan_id: loanId,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/investors/installments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseInstallmentResponseWithClientInfo,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/investors/installments");
    }

    /**
     * Retrieve a specific installment for a loan funded by the current investor.
     *
     * @param {Voltaria.InvestorGetInstallmentRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorGetInstallment({
     *         installment_id: "installment_id"
     *     })
     */
    public investorGetInstallment(
        request: Voltaria.InvestorGetInstallmentRequest,
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.InstallmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__investorGetInstallment(request, requestOptions));
    }

    private async __investorGetInstallment(
        request: Voltaria.InvestorGetInstallmentRequest,
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.InstallmentResponse>> {
        const { installment_id: installmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/investors/installments/${core.url.encodePathParam(installmentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.InstallmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/investors/installments/{installment_id}",
        );
    }

    /**
     * Retrieve all repayment logs for loans funded by the current investor.
     *
     * @param {Voltaria.InvestorListRepaymentsRequest} request
     * @param {InvestorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.investors.investorListRepayments()
     */
    public investorListRepayments(
        request: Voltaria.InvestorListRepaymentsRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseRepaymentResponseWithClientInfo> {
        return core.HttpResponsePromise.fromPromise(this.__investorListRepayments(request, requestOptions));
    }

    private async __investorListRepayments(
        request: Voltaria.InvestorListRepaymentsRequest = {},
        requestOptions?: InvestorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseRepaymentResponseWithClientInfo>> {
        const {
            client_id: clientId,
            loan_id: loanId,
            installment_id: installmentId,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        } = request;
        const _queryParams: Record<string, unknown> = {
            client_id: clientId,
            loan_id: loanId,
            installment_id: installmentId,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/investors/repayments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseRepaymentResponseWithClientInfo,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/investors/repayments");
    }
}
