// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace CollectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CollectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CollectionsClient.Options>;

    constructor(options: CollectionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all collection actions configured for your partner account.
     *
     * @param {Voltaria.ListCollectionActionsRequest} request
     * @param {CollectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.collections.listCollectionActions()
     */
    public listCollectionActions(
        request: Voltaria.ListCollectionActionsRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseCollectionActionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCollectionActions(request, requestOptions));
    }

    private async __listCollectionActions(
        request: Voltaria.ListCollectionActionsRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseCollectionActionResponse>> {
        const { page, page_size: pageSize, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/collection-actions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseCollectionActionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/collection-actions");
    }

    /**
     * Retrieve collection action logs for your partner account. Supports filtering by client, loan, installment, status, or action type.
     *
     * @param {Voltaria.ListCollectionActionLogsRequest} request
     * @param {CollectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.collections.listCollectionActionLogs()
     */
    public listCollectionActionLogs(
        request: Voltaria.ListCollectionActionLogsRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseCollectionActionLogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCollectionActionLogs(request, requestOptions));
    }

    private async __listCollectionActionLogs(
        request: Voltaria.ListCollectionActionLogsRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseCollectionActionLogResponse>> {
        const {
            client_id: clientId,
            loan_id: loanId,
            installment_id: installmentId,
            status,
            action_type: actionType,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        } = request;
        const _queryParams: Record<string, unknown> = {
            client_id: clientId,
            loan_id: loanId,
            installment_id: installmentId,
            status: status !== undefined ? status : undefined,
            action_type: actionType !== undefined ? actionType : undefined,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/collection-actions/logs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseCollectionActionLogResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/collection-actions/logs");
    }

    /**
     * Update the status and notes of a collection action log.
     *
     * @param {Voltaria.CollectionActionLogUpdatePayload} request
     * @param {CollectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.collections.updateCollectionActionLog({
     *         log_id: "log_id",
     *         status: "completed"
     *     })
     */
    public updateCollectionActionLog(
        request: Voltaria.CollectionActionLogUpdatePayload,
        requestOptions?: CollectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.CollectionActionLogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateCollectionActionLog(request, requestOptions));
    }

    private async __updateCollectionActionLog(
        request: Voltaria.CollectionActionLogUpdatePayload,
        requestOptions?: CollectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.CollectionActionLogResponse>> {
        const { log_id: logId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/collection-actions/logs/${core.url.encodePathParam(logId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.CollectionActionLogResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v2/collection-actions/logs/{log_id}",
        );
    }
}
