// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace LoansClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LoansClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LoansClient.Options>;

    constructor(options: LoansClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all loans associated with your partner account. Supports optional filtering by client ID.
     *
     * @param {Voltaria.ListLoansRequest} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.listLoans()
     */
    public listLoans(
        request: Voltaria.ListLoansRequest = {},
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseLoanResponseWithClientInfo> {
        return core.HttpResponsePromise.fromPromise(this.__listLoans(request, requestOptions));
    }

    private async __listLoans(
        request: Voltaria.ListLoansRequest = {},
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseLoanResponseWithClientInfo>> {
        const { page, page_size: pageSize, client_id: clientId, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            client_id: clientId,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/loans",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseLoanResponseWithClientInfo,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/loans");
    }

    /**
     * Create a new loan for an approved client with an active credit limit.
     *
     * @param {Voltaria.LoanCreatePayload} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.ConflictError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.createLoan({
     *         client_id: "client_ACME",
     *         currency: "eur",
     *         amount: 1.1,
     *         installments: [{
     *                 expected_repayment_at: "2025-12-01",
     *                 amount: 1.1
     *             }]
     *     })
     */
    public createLoan(
        request: Voltaria.LoanCreatePayload,
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.LoanResponseWithInstallments> {
        return core.HttpResponsePromise.fromPromise(this.__createLoan(request, requestOptions));
    }

    private async __createLoan(
        request: Voltaria.LoanCreatePayload,
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.LoanResponseWithInstallments>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/loans",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.LoanResponseWithInstallments,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Voltaria.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/loans");
    }

    /**
     * Retrieve detailed information about a specific loan by its loan ID.
     *
     * @param {Voltaria.GetLoanByIdRequest} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.getLoanById({
     *         loan_id: "loan_id"
     *     })
     */
    public getLoanById(
        request: Voltaria.GetLoanByIdRequest,
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.LoanResponseWithInstallments> {
        return core.HttpResponsePromise.fromPromise(this.__getLoanById(request, requestOptions));
    }

    private async __getLoanById(
        request: Voltaria.GetLoanByIdRequest,
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.LoanResponseWithInstallments>> {
        const { loan_id: loanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/loans/${core.url.encodePathParam(loanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.LoanResponseWithInstallments,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/loans/{loan_id}");
    }

    /**
     * Delete a loan by ID. Only loans with 'pending' status can be deleted.
     *
     * @param {Voltaria.DeleteLoanRequest} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.deleteLoan({
     *         loan_id: "loan_id"
     *     })
     */
    public deleteLoan(
        request: Voltaria.DeleteLoanRequest,
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown> | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteLoan(request, requestOptions));
    }

    private async __deleteLoan(
        request: Voltaria.DeleteLoanRequest,
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown> | undefined>> {
        const { loan_id: loanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/loans/${core.url.encodePathParam(loanId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown> | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/loans/{loan_id}");
    }

    /**
     * Create multiple loans in a single request. Processing happens asynchronously. Returns a task ID for tracking progress.
     *
     * @param {Voltaria.BulkLoanCreatePayload} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.BadRequestError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.createBulkLoans({
     *         loans: [{
     *                 client_id: "client_123",
     *                 currency: "eur",
     *                 amount: "50000.00",
     *                 correlation_id: "LOAN_001",
     *                 loan_date: "2023-05-01",
     *                 installments: [{
     *                         expected_repayment_at: "2023-06-01",
     *                         amount: "26000.00"
     *                     }, {
     *                         expected_repayment_at: "2023-07-01",
     *                         amount: "26000.00"
     *                     }],
     *                 data: {
     *                     "loan_type": "business",
     *                     "purpose": "expansion"
     *                 }
     *             }]
     *     })
     */
    public createBulkLoans(
        request: Voltaria.BulkLoanCreatePayload,
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.BulkLoanTaskResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBulkLoans(request, requestOptions));
    }

    private async __createBulkLoans(
        request: Voltaria.BulkLoanCreatePayload,
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.BulkLoanTaskResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/loans/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.BulkLoanTaskResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Voltaria.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/loans/bulk");
    }

    /**
     * Check the status of a bulk loan creation task and retrieve results when completed.
     *
     * @param {Voltaria.GetBulkLoanStatusRequest} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.getBulkLoanStatus({
     *         task_id: "task_id"
     *     })
     */
    public getBulkLoanStatus(
        request: Voltaria.GetBulkLoanStatusRequest,
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.BulkLoanTaskStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getBulkLoanStatus(request, requestOptions));
    }

    private async __getBulkLoanStatus(
        request: Voltaria.GetBulkLoanStatusRequest,
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.BulkLoanTaskStatus>> {
        const { task_id: taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/loans/bulk/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.BulkLoanTaskStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/loans/bulk/{task_id}");
    }

    /**
     * Mark a loan as defaulted, recording the default date and the amount recovered from selling it. Defaults the loan's active and overdue installments and updates the loan status accordingly.
     *
     * @param {Voltaria.LoanDefaultPayload} request
     * @param {LoansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.ForbiddenError}
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.loans.setLoanDefault({
     *         loan_id: "loan_id",
     *         default_date: "2026-06-23",
     *         sold_amount: 1.1
     *     })
     */
    public setLoanDefault(
        request: Voltaria.LoanDefaultPayload,
        requestOptions?: LoansClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.LoanResponseWithInstallments> {
        return core.HttpResponsePromise.fromPromise(this.__setLoanDefault(request, requestOptions));
    }

    private async __setLoanDefault(
        request: Voltaria.LoanDefaultPayload,
        requestOptions?: LoansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.LoanResponseWithInstallments>> {
        const { loan_id: loanId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/loans/${core.url.encodePathParam(loanId)}/set-default`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.LoanResponseWithInstallments,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Voltaria.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/loans/{loan_id}/set-default",
        );
    }
}
