// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace RepaymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RepaymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RepaymentsClient.Options>;

    constructor(options: RepaymentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all repayments made under your partner account. Supports filtering by client, loan, or installments.
     *
     * @param {Voltaria.ListRepaymentLogsRequest} request
     * @param {RepaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.repayments.listRepaymentLogs()
     */
    public listRepaymentLogs(
        request: Voltaria.ListRepaymentLogsRequest = {},
        requestOptions?: RepaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseRepaymentResponseWithClientInfo> {
        return core.HttpResponsePromise.fromPromise(this.__listRepaymentLogs(request, requestOptions));
    }

    private async __listRepaymentLogs(
        request: Voltaria.ListRepaymentLogsRequest = {},
        requestOptions?: RepaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseRepaymentResponseWithClientInfo>> {
        const {
            client_id: clientId,
            loan_id: loanId,
            installment_id: installmentId,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        } = request;
        const _queryParams: Record<string, unknown> = {
            client_id: clientId,
            loan_id: loanId,
            installment_id: installmentId,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/repayments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseRepaymentResponseWithClientInfo,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/repayments");
    }

    /**
     * Create a new repayment log for an installment. Requires the installment ID, loan ID or loan correlation ID.
     *
     * @param {Voltaria.RepaymentCreatePayload} request
     * @param {RepaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.repayments.createRepayment({
     *         amount: 1.1
     *     })
     */
    public createRepayment(
        request: Voltaria.RepaymentCreatePayload,
        requestOptions?: RepaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.RepaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createRepayment(request, requestOptions));
    }

    private async __createRepayment(
        request: Voltaria.RepaymentCreatePayload,
        requestOptions?: RepaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.RepaymentResponse>> {
        const { installment_id: installmentId, loan_id: loanId, correlation_id: correlationId, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            installment_id: installmentId,
            loan_id: loanId,
            correlation_id: correlationId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/repayments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.RepaymentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/repayments");
    }

    /**
     * Initiate processing of up to 10000 repayment logs. Returns task_id for tracking progress.
     *
     * @param {Voltaria.BulkRepaymentCreatePayload} request
     * @param {RepaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.repayments.createBulkRepayments({
     *         repayments: [{
     *                 amount: "1000.00",
     *                 repayment_date: "2023-10-01T12:00:00Z",
     *                 data: {
     *                     "reference": "TXN-001",
     *                     "type": "transfer"
     *                 },
     *                 installment_id: "installment_123"
     *             }, {
     *                 amount: "500.50",
     *                 data: {
     *                     "notes": "Payment received in office",
     *                     "type": "cash"
     *                 },
     *                 loan_id: "loan_456"
     *             }, {
     *                 amount: "750.00",
     *                 repayment_date: "2023-09-30T15:30:00Z",
     *                 correlation_id: "LOAN-789"
     *             }]
     *     })
     */
    public createBulkRepayments(
        request: Voltaria.BulkRepaymentCreatePayload,
        requestOptions?: RepaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.BulkRepaymentTaskResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBulkRepayments(request, requestOptions));
    }

    private async __createBulkRepayments(
        request: Voltaria.BulkRepaymentCreatePayload,
        requestOptions?: RepaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.BulkRepaymentTaskResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/repayments/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.BulkRepaymentTaskResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/repayments/bulk");
    }

    /**
     * Check the progress and results of a bulk repayment processing task.
     *
     * @param {Voltaria.GetBulkRepaymentStatusRequest} request
     * @param {RepaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.repayments.getBulkRepaymentStatus({
     *         task_id: "task_id"
     *     })
     */
    public getBulkRepaymentStatus(
        request: Voltaria.GetBulkRepaymentStatusRequest,
        requestOptions?: RepaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.BulkRepaymentTaskStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getBulkRepaymentStatus(request, requestOptions));
    }

    private async __getBulkRepaymentStatus(
        request: Voltaria.GetBulkRepaymentStatusRequest,
        requestOptions?: RepaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.BulkRepaymentTaskStatus>> {
        const { task_id: taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                `v2/repayments/bulk/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.BulkRepaymentTaskStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/repayments/bulk/{task_id}");
    }
}
