// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Voltaria from "../../../index.js";

export declare namespace RecoveriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RecoveriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecoveriesClient.Options>;

    constructor(options: RecoveriesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve recoveries recorded against your loans. Supports filtering by client or loan.
     *
     * @param {Voltaria.ListRecoveriesRequest} request
     * @param {RecoveriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.recoveries.listRecoveries()
     */
    public listRecoveries(
        request: Voltaria.ListRecoveriesRequest = {},
        requestOptions?: RecoveriesClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.PaginatedResponseRecoveryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listRecoveries(request, requestOptions));
    }

    private async __listRecoveries(
        request: Voltaria.ListRecoveriesRequest = {},
        requestOptions?: RecoveriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.PaginatedResponseRecoveryResponse>> {
        const { client_id: clientId, loan_id: loanId, page, page_size: pageSize, order_by: orderBy, q } = request;
        const _queryParams: Record<string, unknown> = {
            client_id: clientId,
            loan_id: loanId,
            page,
            page_size: pageSize,
            order_by: orderBy,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/recoveries",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Voltaria.PaginatedResponseRecoveryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/recoveries");
    }

    /**
     * Record a new recovery against one of your loans.
     *
     * @param {Voltaria.RecoveryCreatePayload} request
     * @param {RecoveriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Voltaria.NotFoundError}
     * @throws {@link Voltaria.UnprocessableEntityError}
     *
     * @example
     *     await client.recoveries.createRecovery({
     *         loan_id: "loan_abc123",
     *         amount: 1.1,
     *         currency: "eur",
     *         recovery_date: "2026-07-15"
     *     })
     */
    public createRecovery(
        request: Voltaria.RecoveryCreatePayload,
        requestOptions?: RecoveriesClient.RequestOptions,
    ): core.HttpResponsePromise<Voltaria.RecoveryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createRecovery(request, requestOptions));
    }

    private async __createRecovery(
        request: Voltaria.RecoveryCreatePayload,
        requestOptions?: RecoveriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Voltaria.RecoveryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VoltariaEnvironment.Sandbox,
                "v2/recoveries",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Voltaria.RecoveryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Voltaria.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Voltaria.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VoltariaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/recoveries");
    }
}
